- content_for :title do
  EiuELearning
  \| 
  Online Courses - Learn Anything, On Your Schedule
  
.jumbotron
  .display-4
    What do you want to learn today?

  .p-4

.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

%hr
%h2
  Popular courses
.card-group
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2 
  Top rated courses
.card-group
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2 
  Latest courses
.card-group
  - @latest_couses.each do |course|
    = render 'courses/course', course: course

%hr