%nav.navbar.navbar-expand-lg.navbar-light{:style => "background-color: #e3f2fd;"}
  .container-fluid
    %a.navbar-brand{:href => "/"}
      %i.fas.fa-flag
      EIU E-Learning
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto
        = link_to root_path, class: "nav-link #{'active fw-bold' if current_page?(root_path)}" do
          .fa.fa-home
          Home
        - if current_user
          %ul.navbar-nav.me-auto
            = link_to courses_path, class: "nav-link #{'active fw-bold' if current_page?(root_path)}" do
              .fa.fa-graduation-cap
              Courses
        
        - if current_user 
          - if current_user.has_role?(:admin) 
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                .fa.fa-user
                %b Admin
              %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                = link_to users_path,  class: "dropdown-item" do
                  .fa.fa-users
                  %b Users 
                  .badge.bg-info
                    = User.count
                = link_to enrollments_path, class: "dropdown-item" do
                  .fa.fa-lock-open
                  %b Enrollments
                  .badge.bg-info
                    = Enrollment.count
                = link_to activity_path, class: "dropdown-item" do
                  .fa.fa-bell
                  %b Activity 
                = link_to analytics_path, class: "dropdown-item" do
                  .fa.fa-chart-line
                  Analytics  
        - if current_user 
          - if current_user.has_role?(:student) 
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                .fa.fa-graduation-cap
                %b Learning
              %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                = link_to purchased_courses_path,  class: "dropdown-item" do
                  .fa.fa-graduation-cap
                  Purchased Courses
                  .badge.bg-info
                    = current_user.enrollments_count
                = link_to pending_review_courses_path,  class: "dropdown-item" do
                  .fa.fa-star
                  Pending Review 
                  .badge.bg-info
                    = current_user.enrollments.pending_review.count
        - if current_user 
          - if current_user.has_role?(:teacher) 
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                .fa.fa-chalkboard-teacher
                %b Teaching
              %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                = link_to created_courses_path,  class: "dropdown-item" do
                  .fa.fa-graduation-cap
                  Created Courses
                  .badge.bg-info
                    = current_user.courses_count
                = link_to my_students_enrollments_path,  class: "dropdown-item" do
                  .fa.fa-lock-open
                  My students  
                  .badge.bg-info
                    = Enrollment.joins(:course).where(courses: {user: current_user}).count
                = link_to new_course_path,  class: "dropdown-item" do
                  .fa.fa-plus
                  New Course   
  
        .form-inline.my-2.my-lg-0
          = form_tag(courses_path, method: :get) do
            .input-group
              = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Find a course", class: 'form-control-sm'
              %span.input-group-append
                %button.btn.btn-outline-success{:type => "submit"} Search

      %ul.navbar-nav.ms-auto
        - if current_user
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              .fa.fa-user
              %b= current_user.username
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              = link_to user_path(current_user), class: "dropdown-item #{'active fw-bold' if current_page?(edit_user_registration_path)}" do
                .fa.fa-cog
                %b My profile
              = link_to edit_user_registration_path, class: "dropdown-item #{'active fw-bold' if current_page?(edit_user_registration_path)}" do
                .fa.fa-cog
                %b Account settings
              = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
                .fa.fa-sign-out-alt
                %b Sign out
                
            
        - else
          %ul.navbar-nav.mr-auto
            %ul.navbar-nav.mr-right
              %li.nav-item{class: "#{'active font-weight-bold' if current_page?(new_user_registration_path)}"}
                = link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
              %li.nav-item{class: "#{'active font-weight-bold' if current_page?(new_user_session_path)}"}
                = link_to 'Log In', new_user_session_path, class: 'nav-link'